/* table {
  width: 100%;
  border: 5px solid black;
  padding-top: 40px;
}

td {
  text-align: center;
} */

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}
