table {
  box-sizing: border-box;
  font-family: "Pretendard";
  table-layout: fixed;
  background-color: #ffffff;
  border-collapse: collapse;
}

th {
  color: #000000;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
}

td {
  text-align: center;
  padding: 10px 15px 10px 15px;
  width: auto;
  font-size: 16px;
  line-height: 100%;
  padding: 10px 20px;
}

tr {
  border: 3px solid lightgray;
}

.date {
  color: #000000;
  font-size: 16px;
}

.from {
  color: #666666;
  font-size: 16px;
}

.to {
  color: #666666;
  font-size: 16px;
}

.extra-profit {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
}
