* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Pretendard";
}

.App {
  padding: 50px;
}

.mother {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.c-1 {
  background-color: brown;
}
.c-2 {
  background-color: violet;
  margin-left: 170px;
}
.c-3 {
  background-color: orange;
  margin-right: 170px;
}
